.is-boxed {
    background: color-bg(body-outer) !important;

	.body-wrap {
		max-width: $container--width-boxed !important;
	    margin: 0 auto !important;
	    box-shadow: color-bg(body-shadow) !important;

		&::before {
			content: '' !important;
			position: absolute !important;
			top: 0 !important;
			left: 0 !important;
			width: 100% !important;
			height: 100% !important;
			background: color-bg(body) !important;
			z-index: -10 !important;
		}
	}
}

.body-wrap {
	position: relative !important;
    overflow: hidden !important;
    // Sticky footer
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.site-content {
    flex: 1 0 auto !important;
}
