.features-split {

	.section-inner {
		padding-top: $features-split--padding-t__mobile !important;
		padding-bottom: $features-split--padding-b__mobile !important;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile !important;
	}
}

@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop !important;
			padding-bottom: $features-split--padding-b__desktop !important;
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop !important;
		}
	}
}
