.section-inner {
    position: relative !important; // To always display inner elements above pseudo decorative stuff
    padding-top: $section--padding__mobile !important;
    padding-bottom: $section--padding__mobile !important;
}

.section-header {
	padding-bottom: $section-header--padding__mobile !important;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: $section--padding__desktop !important;
        padding-bottom: $section--padding__desktop !important;
    }

	.section-header {
		padding-bottom: $section-header--padding__desktop !important;
	}
}
