.testimonial {

	.section-inner {
		padding-top: $testimonial--padding-t__mobile !important;
		padding-bottom: $testimonial--padding-b__mobile !important;
	}

	.section-header {
		padding-bottom: $testimonial-header--padding__mobile !important;
	}

	.tiles-wrap {
		@if ( $testimonial-items--padding__mobile != null ) {
			margin-right: -($testimonial-items--padding__mobile / 2) !important;
			margin-left: -($testimonial-items--padding__mobile / 2) !important;
			margin-top: -($testimonial-items--padding__mobile / 2) !important;

			&:last-of-type {
				margin-bottom: -($testimonial-items--padding__mobile / 2) !important;
			}

			&:not(:last-of-type) {
				margin-bottom: ($testimonial-items--padding__mobile / 2) !important;
			}
		}

		&.push-left {

			&::after {
				flex-basis: $testimonial-item--width !important;
				max-width: $testimonial-item--width !important;
				@if ( $testimonial-items--padding__mobile != null ) {
					padding-left: $testimonial-items--padding__mobile / 2 !important;
					padding-right: $testimonial-items--padding__mobile / 2 !important;
				}
			}
		}
	}

	.tiles-item {
		flex-basis: $testimonial-item--width !important;
		max-width: $testimonial-item--width !important;
		@if ( $testimonial-items--padding__mobile != null ) {
			padding: $testimonial-items--padding__mobile / 2 !important;
		}
	}

	.tiles-item-inner {
		padding-top: $testimonial-item--inner-padding-v !important;
		padding-bottom: $testimonial-item--inner-padding-v !important;
		padding-left: $testimonial-item--inner-padding-h !important;
		padding-right: $testimonial-item--inner-padding-h !important;
	}
}

.testimonial-item-content {
	flex-grow: 1 !important;
}

.testimonial-item-source {
	display: inline-flex !important; // to allow centering when using .content-center on a parent tag
	flex-wrap: wrap !important;
	align-items: center !important;
}

@include media( '>medium' ) {

	.testimonial {

		.section-inner {
			padding-top: $testimonial--padding-t__desktop !important;
			padding-bottom: $testimonial--padding-b__desktop !important;
		}

		.section-header {
			padding-bottom: $testimonial-header--padding__desktop !important;
		}

		@if ( $testimonial-items--padding__desktop != null ) {

			.tiles-wrap {
				margin-right: -($testimonial-items--padding__desktop / 2) !important;
				margin-left: -($testimonial-items--padding__desktop / 2) !important;
				margin-top: -($testimonial-items--padding__desktop / 2) !important;

				&:last-of-type {
					margin-bottom: -($testimonial-items--padding__desktop / 2) !important;
				}

				&:not(:last-of-type) {
					margin-bottom: ($testimonial-items--padding__desktop / 2) !important;
				}

				&.push-left {

					&::after {
						padding-left: $testimonial-items--padding__desktop / 2 !important;
						padding-right: $testimonial-items--padding__desktop / 2 !important;
					}
				}
			}

			.tiles-item {
				padding: $testimonial-items--padding__desktop / 2 !important;
			}
		}
	}
}
