.container,
.container-sm,
.container-xs {
	width: 100% !important;
	margin: 0 auto !important;
	padding-left: $container--padding__mobile !important;
	padding-right: $container--padding__mobile !important;

	@include media( '>small' ) {
		padding-left: $container--padding__desktop !important;
		padding-right: $container--padding__desktop !important;
	}
}

.container {
	max-width: $container--width + ( $container--padding__desktop * 2 ) !important;
}

.container-sm {
	max-width: $container--width-sm + ( $container--padding__desktop * 2 ) !important;
}

.container-xs {
	max-width: $container--width-xs + ( $container--padding__desktop * 2 ) !important;
}

[class*=container] {

	[class*=container] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

    .container-sm {
		max-width: $container--width-sm !important;
    }

	.container-xs {
		max-width: $container--width-xs !important;
	}
}
