.header-nav-toggle {
	background: transparent !important;
	border: 0 !important;
	outline: 0 !important;
	padding: 0 !important;
	cursor: pointer !important;
}

.hamburger,
.hamburger-inner {
	display: block !important;
	pointer-events: none !important;
}

.hamburger {
	position: relative !important;
	width: $header-hamburger--size !important;
	height: $header-hamburger--size !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: $header-hamburger--size !important;
	height: $header-hamburger--thickness !important;
	position: absolute !important;
	background: color-icon(hamburger) !important;
	border-radius: $header-hamburger--radius !important;

	.invert-color & {
		background: color-icon(hamburger-inverse) !important;
	}
}

.hamburger-inner {
	top: 50% !important;
	margin-top: -($header-hamburger--thickness / 2) !important;
	transition-duration: 0.22s !important;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19) !important;

	&::before,
	&::after {
		content: '' !important;
		display: block !important;
	}

	&::before {
		top: -$header-hamburger--distance !important;
		transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in !important;
	}

	&::after {
		bottom: -$header-hamburger--distance !important;
		transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.25s ease-in !important;
	}

	.off-nav-is-active & {
		transform: rotate(225deg) !important;
		transition-delay: 0.12s !important;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1) !important;

		&::before {
			top: 0 !important;
			opacity: 0 !important;
			transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out !important;
		}

		&::after {
			width: $header-hamburger--size !important;
			bottom: 0 !important;
			transform: rotate(-90deg) !important;
			transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.1s ease-out !important;
		}
	}
}
