@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.eot');
  src: url('/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('/fonts/BebasNeue-Regular.woff') format('woff'),
      url('/fonts/BebasNeue-Regular.ttf') format('truetype'),
      url('/fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
html {
  scroll-behavior: smooth;
}